<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Evergine.Common" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.Framework" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.Mathematics" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.Platform" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.Vuforia" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.VuforiaSharp" version="2023.3.1.3" targetFramework="net471" />
  <package id="Evergine.Yaml" version="2021.12.20.1" targetFramework="net471" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net471" version="1.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net471" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="WaveEngine.Box2D" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Bullet" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Common" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Components" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Framework" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Materials" version="2.5.0.39" targetFramework="net471" />
  <package id="WaveEngine.Vuforia" version="2.5.0.39" targetFramework="net471" />
</packages>